.hero {
   display: flex;
   justify-content: space-between;

   .left-h {
      padding: 2rem;
      padding-top: 1.5rem;
      flex: 3;
      display: flex;
      gap: 2rem;
      flex-direction: column;

      .the-best-ad {
         margin-top: 4rem;
         background-color: #363d42;
         border-radius: 3rem;
         width: fit-content;
         padding: 20px 13px;
         color: white;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: flex-start;

         > div {
            position: absolute;
            background-color: var(--orange);
            width: 5.4rem;
            height: 80%;
            left: 8px;
            border-radius: 3rem;
            z-index: 1;
         }

         > span {
            z-index: 2;
         }
      }

      .hero-text {
         display: flex;
         flex-direction: column;
         gap: 1.5rem;
         text-transform: uppercase;
         font-size: 4.5rem;
         font-weight: bold;
         color: white;
         text-overflow: inherit;

         > div:nth-child(3) {
            font-size: 1rem;
            font-weight: 200;
            text-transform: none;
            letter-spacing: 1px;
            width: 80%;
         }
      }

      .figures {
         display: flex;
         gap: 2rem;

         > div {
            display: flex;
            flex-direction: column;

            > span:nth-child(1) {
               color: white;
               font-size: 2rem;
            }
            > span:nth-child(2) {
               color: var(--gray);
               text-transform: uppercase;
            }
         }
      }
   }

   .right-h {
      flex: 1;
   }
}
